p a,
.accent-color {
  color: #795548;
}

a {
  color: #795548;
}

a:hover,
a:focus {
  color: #795548;
  text-decoration: none;
  opacity: .7;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  color: #795548;
  opacity: .8;
}

.navbar-default .navbar-nav li a.menu-cart {
  color: #795548;
}

.navbar-default .navbar-nav li a.menu-cart:hover,
.navbar-default .navbar-nav li a.menu-cart:focus {
  color: #795548;
  opacity: .8;
}

.navbar-default .navbar-nav .active a {
  color: #795548;
}

.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus {
  background: none;
  color: #795548;
  opacity: .8;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background: #795548;
}

@media screen and (max-width: 768px) {
  .navbar-default {
    background: #F5F5F7;
  }
}

.navbar .open a {
  color: #795548;
}

.navbar .open a:hover,
.navbar .open a:focus,
.navbar .open a:active {
  color: #795548 !important;
}

.accent-bg {
  background-color: #795548;
}

.btn-default,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  background-color: #795548;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:visited,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:active:hover,
input[type="submit"]:active:visited,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="button"]:active:hover,
input[type="button"]:active:visited,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="reset"]:active:hover,
input[type="reset"]:active:visited {
  background-color: #795548;
  opacity: .8;
  color: #fff;
}

.btn-default,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:visited,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:active:hover,
input[type="submit"]:active:visited,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="button"]:active:hover,
input[type="button"]:active:visited,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="reset"]:active:hover,
input[type="reset"]:active:visited {
  color: #fff;
  box-shadow: none;
}

.btn.btn-primary {
  background: none;
  color: #795548;
  border-color: #795548;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:active:hover,
.btn.btn-primary:active:visited {
  opacity: .8;
  background-color: transparent;
  border-color: #795548;
  color: #795548;
  box-shadow: none;
}

.action-bar a:hover,
.action-bar a:focus {
  background-color: #795548;
  color: #fff;
}

.action-bar a:hover span,
.action-bar a:focus span {
  color: #fff;
}

.overlay.accent:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  content: '';
  opacity: 0.9;
  z-index: 2;
  background-color: #795548;
}

.accent-bg {
  color: #fff;
}

.accent-bg p, .accent-bg h2 {
  color: #fff;
}

.accent-bg .btn.btn-primary {
  border-color: #fff;
  color: #fff;
}

.accent-bg .btn.btn-default {
  background: #fff;
  color: #795548;
}

section.products-grid .product .product-details:before {
  background: #795548;
}

.thumbnail.with-info .info {
  background: #795548;
}

a:hover .custom-icon span,
a:focus .custom-icon span {
  border-color: #795548 !important;
}

.map-wrapper .directions {
  background-color: #795548;
  color: #fff;
}

.map-wrapper .directions:hover,
.map-wrapper .directions:focus {
  opacity: .8;
}

.product-full-width .product .thumbnail .product-details {
  background: #795548;
}

.error h1 {
  color: #795548;
}
